/* Tailwinds */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: 'SF-Pro-Rounded-Regular';
  src: url('/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.sf-pro-rounded {
  font-family: 'SF-Pro-Rounded-Regular', sans-serif;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ae39ff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #ae39ff #ffffff;
}
